# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.pyc
*.pyo
*.pyd
*$py.class

# Distribution / packaging
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# Pytest / coverage
.cache
.pytest_cache/
.coverage
.coverage.*
htmlcov/
junit/
coverage.xml

# MyPy / Ruff
.mypy_cache/
.ruff_cache/

# Environments
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# IDE & Editors
.idea/
.vscode/
*.swp
*.swo
.DS_Store

# Documentation Site Build
site/

# Private Website Directory
website/
